<body>
        <div class="nav">
                <div class="nav-header">
                  <div class="nav-title">
                  <%= image_tag "raVen-avatar.png", :size => "30x30" %>
                    <strong>Ravencod</strong>
                  </div>
                </div>
                <div class="nav-links">
                  <a href="https://www.youtube.com/watch?v=s8MDNFaGfT4" >It's Peanut Butter Jelly Time</a>
                  <a href="http://www.nyan.cat/" >Nyan nyan nyan</a>
                  <a href="https://www.youtube.com/watch?v=vQBGDW7r_aw">Du-du-du-duel</a>
                </div>
              </div>

    <div id="container">
            	
        <h1><span class="rainbow">UNICORNNNNN</span></h1>
    
        
        <div class="card card-1">
        <%= image_tag "raVen-avatar.png", :size => "60x60", class: "avatar" %>
            <div class="container">
        <h4><b>Ravencod</b></h4> 
        <p>Exceptionnal Front Dev</p> 
            </div>
        </div>
        <div class="text">
            <p> 
              J'aime les licornes et leurs jolies cornes<br>
              Elles ont un pelage semblable aux nuages<br>
              Elles sont si gentilles avec leurs amis<br>
              Même si elles pratiquent la sodomie<br>
              <br>
              J'aimes leurs crinières qui s'envolent dans le vent<br>
              Elles sont si belles quand t'elles courent dans les champs<br>
              Leurs pupilles s'illuminent dans la nuit<br>
              Comme des jolis petits rubis<br>
              <br>
              J'aime les licornes et leurs jolies cornes<br>
              Elles ont un pelage semblable aux nuages<br>
              Elles sont si gentilles avec leurs amis<br>
              Même si elles pratiquent la sodomie<br>
              <br>
              Je les aies vu jouer dans l'arc en ciel<br>
              Elles s'amusaient comme des folles dans le ciel<br>
              C'est une créature mystique et si pure<br>
              Qui vous plaira oui j'en suis sur<br>
              <br>
              J'aime les licornes et leurs jolies cornes<br>
              Elles ont un pelage semblable aux nuages<br>
              Elles sont si gentilles avec leurs amis<br>
              Même si elles pratiquent la sodomie<br>
              <br>
              J'aime les licornes et leurs jolies cornes<br>
              Elles ont un pelage semblable aux nuages<br>
              Elles sont si gentilles avec leurs amis<br>
              Même si elles pratiquent la sodomie</p>
                
        </div>
        <hr>
     <div class="tabset">
          <!-- Tab 1 -->
          <input type="radio" name="tabset" id="tab1" aria-controls="Peanut" checked>
          <label for="tab1">Peanut Butter Jelly Time</label>
          <!-- Tab 2 -->
          <input type="radio" name="tabset" id="tab2" aria-controls="Nyancat">
          <label for="tab2">NyanCat</label>
          <!-- Tab 3 -->
          <input type="radio" name="tabset" id="tab3" aria-controls="YuGiOh">
          <label for="tab3">Yu-Gi-Oh</label>

          <div class="tab-panels">
            <section id="Peanut" class="tab-panel">
              <%= image_tag "https://media.giphy.com/media/IB9foBA4PVkKA/giphy.gif", class: "Gif" %>
            </section>
            <section id="Nyancat" class="tab-panel">
              <%= image_tag "https://media.giphy.com/media/sIIhZliB2McAo/giphy.gif", class: "Gif"%>
            </section>
            <section id="YuGiOh" class="tab-panel">
              <%= image_tag "https://media.giphy.com/media/5USTijryafZEQ/giphy.gif", class: "Gif" %>
            </section>
          </div>

        </div>
    </div>

    
    <div class="footer">
        <ul class="l2">
            <li><a href= https://twitter.com/ >Twitter</a></li>
            <li><a href= https://www.facebook.com/ >Facebook</a></li>
        </ul>
    </div>
    
</body>
